.customization {
  padding: 1em;
  background-color: linen;
  display: flex;
}

.typeChoice {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  margin: 0.8em;
  flex: 2;
  background-color: whitesmoke;
}

.typeChoice:hover {
  background-color: gainsboro;
}

button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  background-color: tan;
  transition-duration: 0.4s;
  margin: 0.8em;
  flex: 1;
  font-family: 'Acme', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  background-color: peru;
}
