.fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
}

.fish {
    background-color: aquamarine;
    margin: 1em;
}


.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
}