.fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: cornflowerblue;
    border: 1px solid red;
}

.fish {
    background-color: aquamarine;
    margin: 1em;
}


.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
}

.fishList__title {
    font-family: 'Acme', sans-serif;
    font-size: 35px;
    margin: 0;
    padding: 0.5em;
    background-color: cornflowerblue;
    border: 1px solid green;
}

.fish__details {
    display: 
}