@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "banner.css";


.container {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.underTheBanner {
    display: flex;
    flex-direction: row;
}

.underTheBanner__left {
    display: flex;
    flex-direction: column;
    flex: 3.5;
}

.underTheBanner__right {
    flex: 1;
    background-image: url("https://i.pinimg.com/originals/9d/f3/44/9df3449f625724727052eb5cbd986763.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}