.tipList {
    height: 100%;
    font-weight: bold;
}

.tipList__title {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 35px;
}

.tip {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 0.5em;
    margin: 2em;
    border: 1px solid whitesmoke;
    background: whitesmoke;
    border-radius: 25px;
}

.tip:hover {
    transform: rotate(10deg);
}

